<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sekwencjomat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Sekwencjomat.Properties.Settings>
            <setting name="VLC_DLL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="WINDOW_LOCATION" serializeAs="String">
                <value>100,100,800,450</value>
            </setting>
            <setting name="WINDOW_STATE" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="REFVIDEO_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="PLAYBACK_TECHNIQUE" serializeAs="String">
                <value>ACR</value>
            </setting>
            <setting name="PLAYBACK_MODE" serializeAs="String">
                <value>Random</value>
            </setting>
            <setting name="RATING_DELAY" serializeAs="String">
                <value>10</value>
            </setting>
        </Sekwencjomat.Properties.Settings>
    </userSettings>
</configuration>
